replicaCount: 1

image:
  repository: nginx
  pullPolicy: IfNotPresent
  spec: ""

hostAliases: []
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

resources: {}

livenessProbe: {}
readinessProbe: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

volumes: []

volumeMounts: []

env: []

envFrom: []

nodeSelector: {}

tolerations: []

affinity: {}

externalSecrets:
  enabled: false
  secretStoreName: "secret-store"
  extractKey: ""

initContainers: []
onSyncCommands: []

# Example:
# cronJobs:
#  example:
#    schedule: "* * * * *"
#    backoffLimit: 3
#    restartPolicy: "Never"
#    imagePullPolicy: "IfNotPresent"
#    command:
#      - echo
#    env:
#    envFrom:
#    resources:
#      limits:
#        cpu: 100m
#        memory: 256Mi
#      requests:
#        cpu: 100m
#        memory: 256Mi
#    volumeMounts:
#    volumes:
#    nodeSelector:
#    affinity:
#    tolerations:
cronJobs: {}

topologySpreadConstraints: []
useVersionSidecar: true
