{{- range $jobname, $job := .Values.cronJobs }}
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "app.fullname" $ }}-{{ $jobname }}
  labels:
    {{- include "app.labels" $ | nindent 4 }}
spec:
  schedule: {{ required (printf "cronjobs[%s].schedule is required" $jobname) $job.schedule | quote }}
  suspend: {{ $job.suspend | default false }}
  concurrencyPolicy: {{ $job.concurrencyPolicy | default "Allow" }}
  successfulJobsHistoryLimit: {{ $job.successfulJobsHistoryLimit | default 0 | int }}
  failedJobsHistoryLimit: {{ $job.failedJobsHistoryLimit | default 1 | int }}
  jobTemplate:
    spec:
      backoffLimit: {{ $job.backoffLimit | default 3 }}
      {{- if $job.ttlSecondsAfterFinished }}
      ttlSecondsAfterFinished: {{ $job.ttlSecondsAfterFinished | int }}
      {{- end }}
      template:
        metadata:
          labels:
            {{- include "app.selectorLabels" $ | nindent 12 }}
        spec:
          {{- with (default $.Values.imagePullSecrets $job.imagePullSecrets) }}
          imagePullSecrets:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          serviceAccountName: {{ include "app.serviceAccountName" $ }}
          containers:
          - name: {{ $jobname }}
            image: {{ default $.Values.image.spec $job.image | quote }}
            imagePullPolicy: {{ default "IfNotPresent" $job.imagePullPolicy }}
            {{- with $job.command }}
            command:
              {{- toYaml . | nindent 14 }}
            {{- end }}
            {{- with $job.args }}
            args:
              {{- toYaml . | nindent 14 }}
            {{- end }}
            {{- with $job.env }}
            env:
              {{- toYaml . | nindent 14 }}
            {{- end }}
            {{- with $job.envFrom }}
            envFrom:
              {{- toYaml . | nindent 14 }}
            {{- end }}
            {{- with $job.resources }}
            resources:
              {{- toYaml . | nindent 14 }}
            {{- end }}
            {{- with $job.volumeMounts }}
            volumeMounts:
              {{- toYaml . | nindent 14 }}
            {{- end }}
          {{- with $job.volumes }}
          volumes:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with $job.nodeSelector }}
          nodeSelector:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with $job.affinity }}
          affinity:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with $job.tolerations }}
          tolerations:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          restartPolicy: {{ $job.restartPolicy | default "Never" }}
{{- end }}
