{{- if .Values.onSyncCommands }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "app.fullname" . }}-on-sync
  labels:
    {{- include "app.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/hook: PreSync
    argocd.argoproj.io/hook-delete-policy: HookSucceeded
spec:
  ttlSecondsAfterFinished: 120
  template:
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      restartPolicy: Never
      {{- $root := . }}
      containers:
        {{- range .Values.onSyncCommands }}
        - name: {{ .name }}
          image: "{{ $root.Values.image.spec }}"
          {{- if .command }}
          command: {{ toJson .command }}
          {{- end }}
          {{- if .args }}
          args: {{ toJson .args }}
          {{- end }}
          {{- if .env }}
          env:
            {{- toYaml .env | nindent 12 }}
          {{- end }}
          {{- if .envFrom }}
          envFrom:
            {{- toYaml .envFrom | nindent 12 }}
          {{- end }}
          {{- if .resources }}
          resources:
            {{- toYaml .resources | nindent 12 }}
          {{- end }}
        {{- end }}
{{- end }}

